// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// custom colors:
$traq-blue: #002B78;
$traq-light-blue: #139DFF;
$traq-yellow: #FFBB00;
$traq-green: #00C0A3;
$traq-red: #FA355B;
$traq-white: white;

