<div class="container">
  <h1 class="text-success">My Contributions</h1>
  <% @contributions.each do |contribution| %>
    <%= render "users/contributions/contribution_card", contribution: contribution %>
  <% end %>
</div>
