<div>
<div class="modal fade" id="emergencyModal" tabindex="-1" role="dialog" aria-labelledby="emergencyModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="emergencyModalLabel">Emergency Numbers</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <h1>110</h1>
        <p>Police</p>
        <h1>119</h1>
        <p>Fire, Ambulance, Rescue</p>
        <h1>03-3503-8484</h1>
        <p>Police Consultation(English)</p>
        <h1>171</h1>
        <p>Disaster Voice Message</p>
        <h1>0120-805-261</h1>
        <p>Tokyo Multilingual Call Center</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>
