<div>
<div class="modal fade" id="emergencyModal" tabindex="-1" role="dialog" aria-labelledby="emergencyModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="emergencyModalLabel">Emergency Numbers</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <a href="tel:110">110</a>
        <p>Police</p>
        <a href="tel:119">119</a>
        <p>Fire, Ambulance, Rescue</p>
        <a href="tel:03-3503-8484">03-3503-8484</a>
        <p>Police Consultation(English)</p>
        <a href="tel:171">171</a>
        <p>Disaster Voice Message</p>
        <a href="tel:0120-805-261">0120-805-261</a>
        <p>Tokyo Multilingual Call Center</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>
