<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
  <div class="">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag 'traq_logo.png'%>
    <% end %>
  </div>
</div>
