<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag asset_path('icon-brand.png') %>
    <% end %>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    </div>
  </div>
</div>
