<h1>WELCOME TO TRAQ</h1>
<p>By Kim, Takeshi & Colin </p>

<div class="container">
<%= simple_form_for :search, url: locations_path, method: "GET", html: { class: 'form-inline' } do |f| %>
  <%= f.input :search, input_html: {value: ""} %>
  <%= f.submit "Search", class: "btn btn-primary" %>
<% end %>


<div class="d-flex justify-content-center">

</div>
<div class="d-flex justify-content-center">
<%= link_to "Emergency Number", "#", class: "btn btn-flat" %>
</div>
</div>
