<div data-controller="location" class="background-photo d-inline-flex justify-content-center align-items-center">
  <div class="container w-50 text-center align-items-center">
    <h1 class="text-primary">Seek help & shelter</h1>
  </div>
</div>
