<div class="background-photo d-inline-flex justify-content-center align-items-center">
  <div class="row">
    <div class="d-flex justify-content-center mt-2">
      <div class="home-image">
        <%= link_to root_path, class: "d-flex justify-content-center" do %>
          <%= image_tag "traq_logo.png" %>
        <% end %>
        <h3 class="mt-2">Emergency response and tracking</h3>
      </div>
    </div>
  </div>
</div>
