<div class="background-photo d-inline-flex justify-content-center align-items-center">
  <div class="row">
    <div class="d-flex justify-content-center mt-2">
      <div class="home-image">
        <%= image_tag "traq_logo.png" , class: "d-flex" %>
        <div class="row">
          <div class="d-flex justify-content-center mt-2">
            <h1>Seek Help & Shelter</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
