<div class="container">
  <div class="d-flex justify-content-center flex-wrap ">
    <%= simple_form_for :search, url: locations_path, method: "GET", html: { class: 'form-inline' } do |f| %>
      <%= f.input :search, collection: [:Food, :Water, :Shelter, :Medicine] %>
      <%= f.submit "Search", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
