.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 8px;
  background: #139dff;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #027fd8;
  color: white;
}

.btn-flat-dark {
  color: white;
  padding: 8px 24px;
  border-radius: 8px;
  background: #002b78;
  transition: background 0.3s ease;
}

.btn-flat-dark:hover {
  background: #001c4f;
  color: white;
}

.btn-outline {
  border: 2px solid #139dff;
  box-sizing: border-box;
  border-radius: 8px;
  color: #139dff;
}

.btn-outline:hover {
  color: white;
  background: #139dff;
}

.btn-white {
  color: white;

  &:hover {
    color: white;
    text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
  }
}

.btn-mint {
  background: #00c0a3;
  border-radius: 8px;
  box-sizing: border-box;

  &:hover {
    background: #00937d;
  }
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}
