.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #139dff;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #027fd8;
  color: white;
}

.btn-flat-dark {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #002b78;
  transition: background 0.3s ease;
}

.btn-flat-dark:hover {
  background: #001c4f;
  color: white;
}

.btn-outline {
  border: 2px solid #139dff;
  box-sizing: border-box;
  border-radius: 8px;
  color: #139dff;
}

.btn-outline:hover {
  color: white;
  background: #139dff;
}
