.card-blue-shadow {
  width: flex;
  height: flex;
  left: 0px;
  top: 0px;
  background: #ffffff;
  box-shadow: 2px 2px 10px #d0e1ff;
  border-radius: 8px;
  position: relative;

  &:hover {
    box-shadow: 0px 8px 15px rgba(142, 163, 255, 0.4);
  }

  h2 {
    color: #002b78;
    font-weight: 700;
    font-size: 16px;
  }

  small {
    color: #139dff;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.cards {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
}

.card-no-hover {
  position: relative;
  background: #ffffff;
  box-shadow: 2px 2px 10px #d0e1ff;
  border-radius: 8px;
  text-decoration: none;
}

.card-link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}

.contri-card {
  width: flex;
  background: #f8fcff;
  border-radius: 8px;
  border: 1px solid #00c0a3;
  line-height: 1em;
}

.contri-card-mint {
  border: 1px solid #00c0a3;
  background: #ebfffc;
  border-radius: 8px;
  width: flex;
  color: #00c0a3;

  p {
    font-size: 14px;
  }
}



.contri-card-mint-info {
  justify-content: space-between;
  display: flex;
  color: #00c0a3;
}

.contri-user {
  position: relative;
  background: #ffffff;
  box-shadow: 2px 2px 10px #d0e1ff;
  border-radius: 8px;
  text-decoration: none;

  h2 {
    color: #002b78;
    font-weight: 700;
    font-size: 16px;
  }

  small {
    color: #139dff;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.distance {
  position: absolute;
  top: 8px;
  right: 16px;
}
