.card-blue-shadow {
  width: 500px;
  height: 180px;
  left: 0px;
  top: 0px;
  background: #ffffff;
  box-shadow: 2px 2px 10px #d0e1ff;
  border-radius: 8px;
  position: relative;

  &:hover {
    box-shadow: 0px 8px 15px rgba(142, 163, 255, 0.4);
  }

  h2 {
    color: #002b78;
    font-weight: 700;
    font-size: 18px;
  }

  small {
    color: #139dff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.cards {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
}

.card-no-hover {
  background: #ffffff;
  box-shadow: 2px 2px 10px #d0e1ff;
  border-radius: 8px;
  text-decoration: none;
}

.card-link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}
