body {
  background-color: #f8fcff;
  margin-bottom: 60px;
}

.background-photo {
  background-image: linear-gradient(to bottom, #f0f0f0, transparent),
    asset-url("landing.jpg");
  background-size: cover;
  background-position: center;
  padding: 0;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.h1 {
  font-size: 80px;
  font-weight: 700;
}
