.navbar-lewagon {
  display:flex;
  justify-content: center;
  background: #dde9ff;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 40px;
}

select#search_search {
  margin-top:18px;
  width: 50vw;
}

label.form-label.select.required {
  display: none;
}

.top-nav-bar {
position: fixed;
height: 70px;
  z-index: 9999;

}
