.text-shelter {
  color: #139DFF;
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
}

.mint-green-text {
  color: #00c0a3;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
}

.card-text-title {
  font-weight: bold;
}
