<div>
<div class="modal fade" id="btn-checkin" tabindex="-1" role="dialog" aria-labelledby="checkinModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document"> <%#Changed the id to btn-checkin to link with the show page %>
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="checkinModalLabel">Success</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
      <div class="flash flash-success alert alert-dismissible fade show" role="alert">
  <span><strong>Great!</strong> we are happy to see you arrived safely to this shelter</span>
  <a data-bs-dismiss="alert" aria-label="Close">
    <i class="fas fa-times"></i>
  </a>
</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>
