<% @location_contributions.each do |contribution| %>
      <p><%= contribution.supply_type %></p>
      <p><%= contribution.description %></p>
      <small><%= contribution.quantity ? contribution.quantity : 'Unknown' %></small>
    <% end %>
