<div class="container">
  <h2><%= location.location_type %></h2>
  <p><%= location.address %></p>
  <% if location.location_type == "shelter" %>
    <small class="card-user-count" data-checkin-target="count"><i class="fas fa-male"></i> - <%= location.checkins.count %></small>
  <% end %>
  <br>
  <%= link_to "info", location_path(location) %>
</div>
