<div class="container">
  <h1>Locations</h1>
  <div class="mb-4">
    <%= link_to 'home', root_path, class: "btn btn-flat" %>
    <%= link_to 'Add a location', new_location_path, class: "btn btn-flat"  %>
  </div>
  <div class="locations_card">
    <% @locations.each do |location| %>
      <%= render "locations/card", location: location %>
    <% end %>
  </div>
</div>
